<html>
<head>
  <title>E-Bank</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
      <p class="sign" align="center">Welcome to E-Bank</p>
      <p align="center" style="color: #8C55AA; font-size: 18px;">Experience Secure Banking</p>
      <hr style="width:50%; border-top: 1px solid #ccc;">  
    </div>
  </body>
  </html>
</html>
